/* App.css */

/* Remove background color and box-shadow on focus */
input.form-control:focus, 
textarea.form-control:focus {
    background-color: transparent; /* Remove background color */
    box-shadow: none; /* Remove any box-shadow */
    outline: none; /* Remove the default outline */
}

/* Optional: Set the border color on focus to Bootstrap primary */
input.form-control:focus,
textarea.form-control:focus {
    border-color: #007bff; /* Change border color to Bootstrap primary color */
}

#root {
    height: 100vh;
  }

  